.row1 {
    margin: 5px 280px;
    width: 700px;
}

.row2 {
    margin: 5px 280px;
    width: 700px;
}

.row3 {
    margin: 5px 280px;
    width: 700px;
}

.row4 {
    margin: 5px 280px;
    width: 700px;
}

.row5 {
    margin: 5px 280px;
    width: 700px;
}

.row6 {
    margin-top: 50px;
    margin-left: 280px;
    margin-right: 280px;
    width: 700px;
}

.rows {
    margin-top: 60px;
}