* {
    margin-left: 10px;
    margin-right: 10px;
}

li {
    padding: 0px 5px;
}

.search {
    padding-top: 5px;
}

.btn btn-default {
    padding-left: 500px;
}

.form-group1 {
    margin: 0px 600px;
}

.clear {
    clear: both;
}
